@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Prompt';
}html{
    width: 100%;
    height: 100%;
}body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(231, 231, 231);
}header{
position: sticky;
height: 16%;
background-color: rgba(93, 143, 243, 100%);
position: relative;
}
    #logo{
        width: auto;
        height: auto;
        max-width:14%;
        max-height: 14%;
        margin-top: -2.8%;
        margin-left: 86%;
        pointer-events: none;
    }#all{
    display: flexbox;
    }#logo-menu{
    position: relative;
    }#logo-menu > a{
        position: absolute;
        top: 0;
        right: 0;
        width: 12%;
        height: 70%;
}#side-menu{
    position: absolute;
    background-color: rgb(229, 228, 228);
    width: 20%;
    padding-top: 30%;
    margin-top: -5%;
    border-radius: 1em;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    box-shadow: 0.2em 0 1em rgba(0 0,0, 50%);
    }.li-aside{
        margin-left: -10%;
        padding: 1%;
        padding-inline-start: 7%;
        border-right: none;
        border-left: none;
        }.li-aside:hover{
            background-color: rgb(212, 212, 212);
    }.title-lists{
        margin-left: -6%;
    }.li-aside > a{
        color: rgb(91, 91, 91);
        font-size: 0.9em;
        font-weight: 500;
        text-decoration: none;
    }.lists-aside > hr{
        display: none;
        margin-left: -52%;
    }.title-lists{
        width: 120%;
        color: rgb(72, 72, 72);
        margin-left: -10%;
    }#reg{
        background-color: rgba(93, 143, 243, 100%);
    }#reg > a{
        color: white;
    }
#sec-menu{
    float: right;
    width: 80%;
    height: 84%;
    }#sec-menu > form{
        border: 0.2em solid rgba(199, 199, 199, 0.5);
        border-radius: 1em;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 0.5%;
        }#title-sec{
            font-size: 2em;
            font-weight: 300;
            text-align: center;
            margin-top: 5%;
        }.sec-inp, select{
            border-radius: 1em;
            border: none;
            margin-bottom: 2%;
            padding-inline-start: 1%;
            }#descricao{
                height: 70px;
                width: 50%;
            }#nome{
                width: 46%;
            }#empresa{
                width: 20%;
            }#submit{
                background-color: rgba(93, 143, 243, 100%);
                padding: 0.5%;
                width: 20%;
                color: white;
                margin-top: 1%;
            }#limpar{
                background-color: rgb(148, 148, 148);
                width: 15%;
                color: rgb(255, 255, 255);
                padding: 0.5%;
            }#submit:hover{
                background-color: rgba(93, 143, 243, 50%);
            }#limpar:hover{
                background-color: rgba(148, 148, 148, 50%);
            }       
        